<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
</head>
<body>
<h1>Select your option</h1>
<br>
<form method="post" th:action="@{/processInput}" th:object="${user}">
    <div>
        <input type="radio" id="0" name="option" value="0" th:field="*{option}">
        <label for="0">ROCK</label>
    </div>
    <div>
        <input type="radio" id="1" name="option" value="1" th:field="*{option}">
        <label for="1">PAPPER</label>
    </div>
    <div>
        <input type="radio" id="2" name="option" value="2" th:field="*{option}">
        <label for="2">SCISSORS</label>
    </div>
    <br>
    <button type="submit">Play</button>
</form>
</body>
</html>